@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Roboto+Flex:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    z-index: 50; /* Ajustez ce niveau selon vos besoins */
}

header {
    z-index: 100;
}

.no-scroll {
    overflow: hidden;
}

*,
::before,
::after {
    border: 0px solid transparent; /* Exemple de bordure globale */
}

#root {
    border: none; /* Supprime la bordure spécifique au root */
}
