@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Roboto+Flex:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    z-index: 50; /* Ajustez ce niveau selon vos besoins */
}

header {
    z-index: 100;
}

.no-scroll {
    overflow: hidden;
}

*,
::before,
::after {
    border: 0px solid transparent; /* Exemple de bordure globale */
}

#root {
    border: none; /* Supprime la bordure spécifique au root */
}

@layer utilities {
    @keyframes gradientChange {
        0% {
            background-position: 0%;
        }

        50% {
            background-position: 100%;
        }

        100% {
            background-position: 0%;
        }
    }

    .gradient {
        background: linear-gradient(90deg, #c2410c, #eab308, #4ade80);
        background-size: 200% 200%;
    }

    .element-to-rotate {
        animation: gradientChange 4s ease infinite;
    }
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
